<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<form actio="noticias/salvar" method="POST">
			<br />
			<label>Titulo</label>
			<input type="text" id="titulo" name="titulo" placeholder="Titulo da noticia" />
			<br />
			<textarea id="conteudo" id="conteudo" rows="5" cols="30" placeholder="Conteudo da noticia"></textarea>
			<br />
			<input type="submit" value="Enviar" />
		</form>
	</body>
</html>